<div class="container">

  <h3>How To :</h3>
  <br>

  <nav ngbNav id="navTabRoot" #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Foundations</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="ngFoundation"></ng-container>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Fontawesome</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="ngFontawesome"></ng-container>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>ng-animate</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="ngNgAnimate"></ng-container>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>ngx-highlightjs</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="ngNgxHighlightjs"></ng-container>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>...</a>
      <ng-template ngbNavContent><p>To be ...</p></ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>...</a>
      <ng-template ngbNavContent><p>Or not be ...</p></ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>... More ...</a>
      <ng-template ngbNavContent><p>... to come ...</p></ng-template>
    </ng-container>
  </nav>
  <div class="my-4">
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>

<!-- SCROLL UP BOTTOM BUTTON -->
<div class="container fixed-bottom d-flex justify-content-end  mb-5">
  <a class="btn btn-sm btn-secondary text-light shadow-lg" (click)="navigateToFragment('/howTo','')"  title="Scroll up">
    <fa-icon icon="angle-double-up" size="2x"></fa-icon>
  </a>
</div>

<!-- FOUNDATION BUILDER HOWTO -->
<ng-template #ngFoundation>
  <app-foundations></app-foundations>
</ng-template>

<!-- FONTAWESOME HOWTO -->
<ng-template #ngFontawesome>
  <app-fontawesome></app-fontawesome>
</ng-template>

<!-- NG-ANIMATE HOWTO -->
<ng-template #ngNgAnimate>
  <app-ng-animate></app-ng-animate>
</ng-template>

<!-- NGX-HIGHTLIGHTJS INSTALL, USAGE AND OPTIONS HOWTO -->
<ng-template #ngNgxHighlightjs>
  <app-ngx-highlightjs></app-ngx-highlightjs>
</ng-template>
