<div class="container">
  <!-- <footer class="footer border-top border-primary text-primary text-center "> -->
  <!-- <footer class="footer fixed-bottom border-top text-center "> -->
  <footer class="footer border-top text-center pt-2">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved - Philippe Fouque Design -
          Repository on
          <a href="https://github.com/pfouque06/Angular-Bootstrap-Showroom" target="_blank" title="GitHub">
            <fa-icon class="text-dark" [icon]="['fab', 'github']" size="lg"></fa-icon>
          </a>
        </p>
      </div>
    </div>
  </footer>
</div>
