<div class="container">

  <p>Some nice spinners with fontawesome ...</p>

  <div class="mb-3">
    <ngb-accordion [closeOthers]="true" type="light" activeIds="nav-1">
      <ngb-panel id="nav-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-start">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left text-dark pl-0">
              <h5 class="m-0">
                <fa-icon [icon]="opened ? 'caret-down' : 'caret-right'" [fixedWidth]="true"></fa-icon>
                <span [class]="opened ? 'text-dark' : 'text-muted'">Spinners</span>
              </h5>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <!-- test -->
          <!-- <ng-container *ngTemplateOutlet="ngTestTemplate"></ng-container> -->
          <ng-container *ngTemplateOutlet="ngSpinners"></ng-container>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>


<ng-template #ngSpinners>
  <ul class="card-header">
    <li class="list-group-item">
      some nice spinners from <code>Fontawesome</code> module.
    </li>
  </ul>

  <div class="card-body">
    <div class="card p-3 mb-3">
      <!-- <h4>Mono toggle</h4> -->
      <p>
        <button type="button" class="btn btn-outline-dark" (click)="isSpinnerCollapsed = !isSpinnerCollapsed"
                [attr.aria-expanded]="!isSpinnerCollapsed" aria-controls="ngSpinCollapse">
          Spinner
        </button>
      </p>

      <div id="ngSpinCollapse" [ngbCollapse]="isSpinnerCollapsed">
        <div class="card">
          <div class="card-body border border-dark bg-light text-dark">
            <div class="fa-4x">
              <fa-icon icon="spinner" [spin]="true" ></fa-icon>
              <fa-icon icon="circle-notch" [spin]="true"></fa-icon>
              <fa-icon icon="sync" [spin]="true"></fa-icon>
              <fa-icon icon="cog" [spin]="true"></fa-icon>
              <fa-icon icon="yin-yang" [spin]="true" ></fa-icon>
              <fa-icon icon="virus" [spin]="true"></fa-icon>
              <fa-icon icon="snowflake" [spin]="true"></fa-icon>
              <fa-icon icon="times" [spin]="true"></fa-icon>
              <fa-icon icon="times-circle" [spin]="true"></fa-icon>
              <fa-icon [icon]="['fab', 'slack-hash']" [spin]="true"></fa-icon>
              <fa-icon icon="redo-alt" [spin]="true"></fa-icon>
              <fa-icon icon="sync-alt" [spin]="true"></fa-icon>
              <fa-icon icon="sort" [spin]="true"></fa-icon>
              <fa-icon icon="sort-up" [spin]="true"></fa-icon>
              <fa-icon icon="sun" [spin]="true"></fa-icon>
              <fa-icon icon="star" [spin]="true"></fa-icon>
              <fa-icon [icon]="['fab', 'safari']" [spin]="true"></fa-icon>
              <fa-icon icon="compass" [spin]="true"></fa-icon>
              <fa-icon icon="radiation" [spin]="true"></fa-icon>
              <fa-icon icon="radiation-alt" [spin]="true"></fa-icon>
              <fa-icon icon="power-off" [spin]="true"></fa-icon>
              <fa-icon icon="compact-disc" [spin]="true"></fa-icon>
              <fa-icon icon="compress" [spin]="true"></fa-icon>
              <fa-icon icon="globe" [spin]="true"></fa-icon>
              <fa-icon icon="fan" [spin]="true"></fa-icon>
              <fa-icon icon="expand" [spin]="true"></fa-icon>
              <fa-icon icon="ban" [spin]="true"></fa-icon>
              <fa-icon icon="adjust" [spin]="true"></fa-icon>
              <fa-icon [icon]="['fab', 'ello']" [spin]="true"></fa-icon>
              <fa-icon icon="ellipsis-h" [spin]="true"></fa-icon>
              <fa-icon [icon]="['fab', 'dribbble']" [spin]="true"></fa-icon>
              <fa-icon [icon]="['fab', 'codepen']" [spin]="true"></fa-icon>
              <fa-icon icon="bowling-ball" [spin]="true"></fa-icon>
              <fa-icon icon="biohazard" [spin]="true"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card p-3 mb-3">
      <!-- <h4>Mono toggle</h4> -->
      <p>
        <button type="button" class="btn btn-outline-dark" (click)="isPulsedCollapsed = !isPulsedCollapsed"
                [attr.aria-expanded]="!isPulsedCollapsed" aria-controls="ngPulsedCollapse">
          Pulsed
        </button>
      </p>

      <div id="ngPulsedCollapse" [ngbCollapse]="isPulsedCollapsed">
        <div class="card">
          <div class="card-body border border-dark bg-light text-dark">


            <div class="fa-4x">
              <fa-icon icon="spinner" [pulse]="true" ></fa-icon>
              <fa-icon icon="circle-notch" [pulse]="true"></fa-icon>
              <fa-icon icon="cog" [pulse]="true"></fa-icon>
              <fa-icon icon="spinner" [pulse]="true" ></fa-icon>
              <fa-icon icon="sort" [pulse]="true"></fa-icon>
              <fa-icon icon="sort-up" [pulse]="true"></fa-icon>
              <fa-icon icon="radiation" [pulse]="true"></fa-icon>
              <fa-icon icon="radiation-alt" [pulse]="true"></fa-icon>
              <fa-icon icon="power-off" [pulse]="true"></fa-icon>
              <fa-icon icon="compact-disc" [pulse]="true"></fa-icon>
              <fa-icon icon="compress" [pulse]="true"></fa-icon>
              <fa-icon icon="expand" [pulse]="true"></fa-icon>
              <fa-icon icon="adjust" [pulse]="true"></fa-icon>
              <fa-icon [icon]="['fab', 'ello']" [pulse]="true"></fa-icon>
              <fa-icon icon="ellipsis-h" [pulse]="true"></fa-icon>
              <fa-icon [icon]="['fab', 'codepen']" [pulse]="true"></fa-icon>
              <fa-icon icon="biohazard" [pulse]="true"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
