/* remove underline decoration for accordeons selectors */
button, button:hover, button:visited, button:focus, a, a:hover,a:visited, a:focus {
  text-decoration:none;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/* highlith theme defined in angular/.json or src/Styles.css*/
