<!-- <p>sandbox works!</p> -->
<div class="container">

  <p>Welcome to Sanbox ..</p>

  <div class="mb-3">
    <ngb-accordion [closeOthers]="true" type="light" activeIds="sandbox-1">
      <ngb-panel id="sandbox-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-start">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left text-dark pl-0">
              <h5 class="m-0">
                <fa-icon [icon]="opened ? 'caret-down' : 'caret-right'" [fixedWidth]="true"></fa-icon>
                <span [class]="opened ? 'text-dark' : 'text-muted'">Sanbox popup card</span>
              </h5>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <!-- test -->
          <!-- <ng-container *ngTemplateOutlet="ngTestTemplate"></ng-container> -->
          <ng-container *ngTemplateOutlet="ngSandboxTemplate"></ng-container>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

</div>

<ng-template #ngSandboxTemplate>
  ngSandboxTemplate

  <!-- ################################################### -->
  <h4>Highlight code format rendering</h4>

  <pre class="border"><code [highlight]="codeSample" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

  <h4>Highlight response</h4>
  <pre>{{ codeDiag | json }}</pre>

  <!-- ################################################### -->
  <h4>Some piece of code samples from array</h4>
  <div *ngFor="let someCode of pieceOfCode; index as i">
    <pre class="border"><code [highlight]="someCode" [lineNumbers]="true"></code></pre>
  </div>


  <!-- ################################################### -->
  <h4>Some piece of code samples from json files</h4>
  <div *ngFor="let someCode of nextPieceOfCode; index as i">
    name : {{someCode.name}}
    <pre class="border"><code [highlight]="someCode.code" [lineNumbers]="true"></code></pre>
  </div>


  <!-- ################################################### -->
  <h4>Other pieces of code samples from exported Array converted in a Map(key,value) in an ts file</h4>
  <div *ngFor="let someKey of anotherPieceOfCodeKeys; index as i">
    <p>key : {{someKey}}</p>
    <p>value :</p>
    <pre class="border"><code [highlight]="anotherPieceOfCode.get(someKey)" [lineNumbers]="true"></code></pre>
  </div>


  <!-- ################################################### -->
  <h4>Some piece of code samples from raw url </h4>
  example :
  <p>https://raw.githubusercontent.com/angular/angularfire2/master/src/database/database.ts</p>
  <p>https://raw.githubusercontent.com/twbs/bootstrap/v4.1.1/scss/_alert.scss</p>
  <p>https://raw.githubusercontent.com/symfony/symfony/master/src/Symfony/Component/Asset/Context/ContextInterface.php</p>
  <div class="form-group form-inline">
    <label for="url">url </label>
    <input id="url" class="form-control" type=text name="prenom" [(ngModel)]="codeUrlForm" required #alert_url="ngModel" >
    <div [hidden]="alert_url.valid || alert_url.pristine" class="alert alert-danger">Une url est requise</div>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" (click)="loadRawUrl()">Load</button>
  </div>
  <p>url : {{ codeUrl }} </p>
  <pre *ngIf="codeUrl" class="border"><code [highlight]="codeUrl | codeFromUrl | async"  [lineNumbers]="true"></code></pre>


  <!-- ################################################### -->
  <h4>Some piece of code samples from raw file </h4>
  <div class="form-group form-inline">
    <label for="pathName">pathName </label>
    <input id="pathName" class="form-control" type=text name="pathName" [(ngModel)]="pathName" >
    <label for="fileName">fileName </label>
    <input id="fileName" class="form-control" type=text name="fileName" [(ngModel)]="fileName" required #alert_fileName="ngModel" >
    <!-- <div [hidden]="alert_fileName.valid || alert_fileName.pristine" class="alert alert-danger">Un fileName est requis.</div> -->
  </div>
  <p>filePath : {{ ( pathName ? pathName+'/' : "") +fileName }} </p>
  Work in progress ....

</ng-template>


