<!-- <nav class="navbar sticky-top navbar-expand-md navbar-light bg-white"> -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">

  <div class="container border-bottom">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">Angular Bootstrap Sandbox</a> -->
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#thisNavbar" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="thisNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <p class="navbar-text">Some text</p> -->

    <!-- collapse content -->
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="thisNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="home" class="nav-link" routerLinkActive="active"  (click)="isNavbarCollapsed = true">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="sandbox" class="nav-link" routerLinkActive="active" (click)="isNavbarCollapsed = true">Sandbox</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="techThemeDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Themes
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="techThemeDropdown">
            <a class="dropdown-item" routerLink="layout" (click)="isNavbarCollapsed = true">Layout</a>
            <a class="dropdown-item" routerLink="nav" (click)="isNavbarCollapsed = true">Nav</a>
            <a class="dropdown-item" routerLink="modal" (click)="isNavbarCollapsed = true">Modal</a>
            <a class="dropdown-item" routerLink="codeRenderer" (click)="isNavbarCollapsed = true">Code Renderer</a>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="personDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Persons
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="personDropdown">
            <a class="dropdown-item" routerLink="personneList" (click)="isNavbarCollapsed = true">List</a>
            <a class="dropdown-item" routerLink="personneForm" (click)="isNavbarCollapsed = true">Form</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="yaForm">Yet another Form</a>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="howTo" class="nav-link" routerLinkActive="active"  (click)="isNavbarCollapsed = true">HowTo</a>
        </li>
        <li class="nav-item">
          <a href="http://philippe.fouque.free.fr" target="_blank" class="nav-link" routerLinkActive="active"  (click)="isNavbarCollapsed = true">Contact</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
