<!-- <p>ya-form works!</p> -->
<div class="container">
  <div class="card">
    <h2 class="card-header">Yet Another Form ! </h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Two-ways binding form
      </li>
    </ul>
    <div class="card-body">


      <form #personForm=ngForm>

      </form>
      <div class="row">
        <div class="form-group">
          <label for="prenom">Firstname </label>
          <input class="form-control" type=text [(ngModel)]=prenom>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="nom">Lastname </label>
          <input class="form-control" type=text [(ngModel)]=nom>
        </div>
      </div>
      <div class="row mb-3">
        <div class="text-capitalize">[Inline content] Hello {{ prenom }} {{ nom }}</div>
      </div>

      <div class="row align-items-center justify-content-start">
        <div class="col-3">
          <button class="btn btn-primary" (click)="direBonjour()">apply</button>
        </div>
        <div class="col-6">
          <span class="text-capitalize">[Processed on click]  Hello {{ result }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

