<!-- <p>person-list works!</p> -->
<div class="container">
  <div class="card">
    <h2 class="card-header">
      <div class="row justify-content-between mx-2">
        Person List
        <!-- <fa-icon class="text-dark" icon="list-ul"></fa-icon> -->
      </div>
    </h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <!-- <p>Local instance only - no BackEnd and none persisted data</p> -->
        Local instance only - no BackEnd and none persisted data
      </li>
    </ul>
    <div class="card-body">

      <!-- <ul>
        <li *ngFor="let person of personnes">
          {{ person.id }} {{ person.nom }} {{ person.prenom }}
        </li>
      </ul> -->

      <!-- <hr>
        <div class="row order-first">
          <div class="col-12">

          <div class="row">
            <div class="col-2 font-weight-bold">ID</div>
            <div class="col-4 font-weight-bold ">Firstname</div>
            <div class="col-4 font-weight-bold ">Lastname</div>
            <div class="col-2 font-weight-bold "></div>
          </div>

          <div class="row  align-items-center" *ngFor="let person of persons">
            <div class="col-2">{{ person.id }}</div>
            <div class="col-4 text-capitalize">{{ person.prenom }}</div>
            <div class="col-4 text-capitalize">{{ person.nom }}</div>
            <div class="col-2">
              <a class="txt-alert" (click)="delPerson( person.id )">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <hr> -->

      <div class="d-flex">
        <div class="align-middle pr-2">
          <ngb-pagination [collectionSize]="filteredPersons.length"
            [(page)]="page" [pageSize]="pageSize"
            [maxSize]="4" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>

        <div class="align-middle">
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="50">50 items per page</option>
            <option [ngValue]="100">100 items per page</option>
          </select>
        </div>

        <div class="align-middle ml-md-auto form-group form-inline">
          <label for="filter"><fa-icon icon="filter" size="lg"></fa-icon></label>
          <input id="filter" class="form-control ml-2" type="text" [formControl]="filter" #spy_filter>
        </div>
      </div>

      <table class="table table-sm table-hover">
        <thead class="">
          <tr class="d-flex">
            <th class="col-1" scope="col align-middle"><fa-icon icon="id-card" size="lg"></fa-icon></th>
            <th class="col-3" scope="col align-middle" sortable="prenom" (sort)="onSort($event)">
              Firstname<fa-icon [icon]="headerIcons.get('prenom')" [fixedWidth]="true" ></fa-icon>
            </th>
            <th class="col-3" scope="col align-middle" sortable="nom" (sort)="onSort($event)">
              Lastname<fa-icon [icon]="headerIcons.get('nom')" [fixedWidth]="true" ></fa-icon>
            </th>
            <th class="col-3" scope="col align-middle" sortable="type" (sort)="onSort($event)">
              Type<fa-icon [icon]="headerIcons.get('type')" [fixedWidth]="true" ></fa-icon>
            </th>
            <th class="col-2 align-middle text-right" scope="col">Operations</th>
          </tr>
        </thead>
        <!-- <tbody class="border "> -->
        <tbody class=" ">
          <!-- <tr *ngFor="let person of personPages; index as i"> -->
          <tr class="d-flex" *ngFor="let person of filteredPersonPages; index as i">
            <!-- <th scope="row">{{ i + 1 }}</th> -->
            <td class="col-1 align-middle pt-2 pl-2 text-left font-weight-bold">{{ person.id | number }}</td>
            <td class="col-3 align-middle pt-2 text-capitalize">{{ person.prenom }}</td>
            <td class="col-3 align-middle pt-2 text-capitalize">{{ person.nom }}</td>
            <td class="col-3 align-middle pt-2 text-capitalize">{{ person.type }}</td>
            <td class="col-2 align-top text-right">
              <!-- <a class="btn text-muted" (click)="editPerson( person.id )" title="Edit"><fa-icon icon="pen" size="lg"></fa-icon></a> -->
              <a class="btn btn-sm text-muted" (click)="editPerson( person.id )" title="Edit"><fa-icon icon="pen"[fixedWidth]="true" ></fa-icon></a>
              <!-- &nbsp; -->
              <!-- <a class="btn text-danger" (click)="openDeletePersonModal(deletePersonModal, person.id)" title="Delete"><fa-icon icon="times" size="2x"></fa-icon></a> -->
              <a class="btn btn-sm text-danger" (click)="openDeletePersonModal(deletePersonModal, person.id)" title="Delete"><fa-icon icon="times" size="lg"></fa-icon></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row justify-content-between mx-2 mb-3">
        <div class="align-middle p-2 text-muted">
          showing {{ filteredPersons.length == 0 ?  0 : 1 + (page -1) * pageSize }}
          to {{ page * pageSize > filteredPersons.length ? filteredPersons.length : page * pageSize }} items
          of {{filteredPersons.length }}
        </div>
        <div class="align-middle">
          <a class="btn text-muted" (click)="monitoringHeadsUp = !monitoringHeadsUp" title="Form Dev Tools"
          [attr.aria-expanded]="monitoringHeadsUp" aria-controls="monitorCard">
          <fa-icon [icon]="monitoringHeadsUp ? 'eye-slash' : 'eye'" size="lg"></fa-icon>
          </a>
          <a class="btn text-dark"  [routerLink]="['/personneForm']" title="Add a  new Person"><fa-icon icon="plus" size="2x"></fa-icon></a>
          <a class="btn btn-sm btn-danger text-light"  (click)="openResetListModal(resetListModal)" title="Reset Person List"><fa-icon icon="power-off" size="lg"></fa-icon></a>
        </div>
      </div>

      <div id="monitorCard" [ngbCollapse]="!monitoringHeadsUp">
        <div class="card">
          <!-- <div class="card-body">
            <h5 class="card-title font-weight-bold">Form Dev Tools</h5>
            <p class="card-text"></p>
          </div> -->

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <!-- <p>person :  {{person | json}}</p> -->
              <div>
                <span class="font-weight-bold">monitoring :</span>
              </div>
              <div>
                <span class="ml-2 font-weight-bold">Filter</span> :
              </div>
              <div>
                <span class="ml-4 font-weight-bold">value</span> : {{filter.value}}
              </div>
              <div>
                <span class="ml-4 font-weight-bold">status</span> : {{filter.status}}
              </div>
            </li>

            <li class="list-group-item">
              <div>
                <span class="font-weight-bold">spy :</span>
              </div>
              <div>
                <span class="ml-2 font-weight-bold">Filter</span> : {{spy_filter.className}}
              </div>
            </li>
          </ul>
        </div>
      </div>

      <ng-template #deletePersonModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Delete Person</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('deletePerson')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Please confirm Delete Request.
        </div>
        <div class="modal-footer">
          <a class="btn text-danger" ngbAutofocus (click)="modal.close()" title="Confirm Deletion"><fa-icon icon="times" size="2x"></fa-icon></a>
        </div>
      </ng-template>

      <ng-template #resetListModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Reset Person List</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('deletePerson')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Please confirm Reset Request.
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger text-light" ngbAutofocus (click)="modal.close()" title="Confirm Reset Person List"><fa-icon icon="power-off" size="lg"></fa-icon></a>
        </div>
      </ng-template>

    </div>
  </div>
</div>

